<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruitsalesplatform.mapper.CommoditiesMapper">
    <resultMap id="commoditiesRM" type="commodities">
        <id column="fruitid" property="fruitId" jdbcType="VARCHAR"/>
        <result column="name" property="name"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="locality" property="locality"/>
        <result column="createtime" property="createTime"/>
    </resultMap>
    <select id="get" parameterType="string" resultMap="commoditiesRM">
        select *
        from commodities where fruitid=#{fruitId};
    </select>
    <sql id="query_commodities_where">
        <if test="name != null">and name like #{name}</if>
        <if test="startPrice != null">
            <![CDATA[ and price >= #{startPrice}]]>
        </if>
        <if test="endPrice != null">
            <![CDATA[ and price <= #{endPrice}]]>
        </if>
        <if test="locality != null">
            and locality like #{locality}
        </if>
        <if test="createTime != null">
            and createtime = DATE_FORMAT(#{creatTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="startTime != null">
            <![CDATA[ and createtime >= DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%s')]]>
        </if>
         <if test="endTime != null">
             <![CDATA[ and createtime <= DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%s')]]>
         </if>
    </sql>
    <select id="find" parameterType="map" resultMap="commoditiesRM">
        select * from commodities
        where 1=1
        <include refid="query_commodities_where"/>
        <if test="startPage!=null and pageSize != null">LIMIT #{startPage},#{pageSize}</if>
    </select>
    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select COUNT(*) from commodities
        where 1=1
        <include refid="query_commodities_where"/>
    </select>
    <insert id="insert" parameterType="commodities">
        insert into commodities (fruitid, name, price, locality, createtime)
        VALUES
        (
            #{fruitId, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{price, jdbcType=DOUBLE},
            #{locality, jdbcType=VARCHAR},
            #{createTime, jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="commodities">
        update commodities
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="locality!=null">locality=#{locality}</if>
        </set>
        where fruitid=#{fruitId}
    </update>
    <delete id="deleteById" parameterType="string">
        delete from commodities
        where fruitid=#{fruitId}
    </delete>
    <delete id="delete" parameterType="java.util.List">
        delete from commodities
        where fruitid in
        <foreach collection="list" item="fruitId" open="(" close=")" separator=",">
            #{fruitId}
        </foreach>
    </delete>
</mapper>