<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <select id="findUserByName" parameterType="java.lang.String" resultType="com.fruitsalesplatform.entity.User">
        SELECT * FROM USER WHERE name like #{name};
    </select>
</mapper>